# /etc/systemd/system/rot13.service
[Unit]
Description=ROT13 demo service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=user
ExecStart=/usr/bin/env php /opt/server.php

[Install]
WantedBy=multi-user.target

# set your actual username after User=
# set the proper path to your script in ExecStart=
# You may have wondered what the After= directive did. It simply means that your service must be started after the network is ready. If your program expects the MySQL server to be up and running, you should add:

# After=mysqld.service after what service it's run

# By default, systemd does not restart your service if the program exits for whatever reason. This is usually not what you want for a service that must be always available, so we’re instructing it to always restart on exit:

# By default, systemd attempts a restart after 100ms. You can specify the number of seconds to wait before attempting a restart, using:
# RestartSec=1

# I personally fell into this one more than once. By default, when you configure Restart=always as we did, systemd gives up restarting your service if it fails to start more than 5 times within a 10 seconds interval. Forever.


